<div class="container expenses">



  <div class="row">
    <div class="col s12" style="text-align: right;margin-bottom: 1em;margin-top: 2em;">
      <h4>Janeiro/2022</h4>
    </div>
  </div>


  <table class="striped centered">
    <thead>
      <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Valor</th>
          <th>Detalhes</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let movem of movements">
        <td>{{movem.id}}</td>
        <td>{{movem.name}}</td>
        <td>{{movem.value | currency: "BRL"}}</td>
        <td>
          <a [routerLink]="['/detail', movem.id]">

            <i class="small material-icons" style="color: #455a64">pageview</i>

          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <app-total-panel [total] = "this.total"> </app-total-panel>

</div>
